user-icon {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;

	border: 2px solid black;
	border-radius: 50%;

	overflow: hidden;

	img {
		width: 100%;
		height: auto;
	}

}